<div class="workplace">

  <div class="terapevtIntro">
    <p id="Enter"> Вход на платформу </p>
     <hr>
    <p id="Slogan"> Терапев - лучший учет пациентов для вашей клиники </p>
  </div>

  <div class="authorization-panel">
    <div id="enterLogo"></div>
      <span id="radioBlock">
        <input name="personal" type="button" value="personal" class="radio">
        <input name="doctor" type="button" value="doctor" class="radio">
      </span>
    <span id="authorization-form">
      <form method="get" class="authorization-panel" (ngSubmit)="signIn(username, password)" formGroup="authorizationForm">
        <label for="nameInput">Имя пользователя</label><br>
          <input id="nameInput" type="text" formControlName="username"><br>
        <label for="passwordInput">Пароль пользователя</label><br>
          <input id="passwordInput" type="password" formControlName="password"><br>
        <input type="submit">
      </form>
    </span>
  </div>

</div>


